@import 'tailwindcss';

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-bg: var(--bg);
  --color-main: var(--main);
  --color-mint: var(--mint);
  --color-lemon: var(--lemon);
  --color-hot-pink: var(--hot-pink);
  --shadow-brutal: 4px 4px 0px 0px var(--black);
  --radius-base: var(--radius);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main: #b6ace4;
  --bg: #f0eefc;
  --radius: 5px;
  --mint: #97ee88;
  --lemon: #fed170;
  --hot-pink: #ee8888;
}

@layer utilities {
  .shadow-brutal {
    box-shadow: var(--shadow-brutal);
  }
}

