---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ResourceFilterSearch from '@/components/preact/ResourceFilterSearch.tsx';

const allResources: CollectionEntry<'resources'>[] = await getCollection(
  'resources',
);

const sortedResources = allResources.sort(
  (a, b) =>
    new Date(b.data.addedDate).getTime() -
    new Date(a.data.addedDate).getTime(),
);

const allTags = [
  ...new Set(allResources.flatMap((resource) => resource.data.tags ?? [])),
].toSorted();
---
<BaseLayout title="Resource Hub">
  <h1>Resource Hub</h1>

  <div>
    <ResourceFilterSearch
      client:idle
      resources={sortedResources}
      tags={allTags}
    />
  </div>
</BaseLayout>
